[submodule "extra"]
	path = extra
	url = https://github.com/TritonDataCenter/pkgsrc-extra.git
	branch = 2022Q4
[submodule "joyent"]
	path = joyent
	url = https://github.com/TritonDataCenter/pkgsrc-joyent.git
[submodule "wip"]
	path = wip
	url = https://github.com/TritonDataCenter/pkgsrc-wip.git
	branch = 2022Q4
